@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*font-family: 'Montserrat', sans-serif;*/

:root{
    --main-bg-color : #161625;
    --border-color : #0288d147;
}

body, html{
    font-family: 'Montserrat', sans-serif;
    background: var(--main-bg-color);
    height: 100%;
    padding: 0;
    margin: 0;
}

body, .drop-zone, .upload-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.upload-container{
    background : #1E1E30;
    border-radius : 25px;
    box-shadow : 0 20px 20px #0000002e;
}

.drop-zone{
    width : 500px;
    height : 200px;
    border : 2px dashed var(--border-color);
    border-radius : 10px;
    margin : 28px;
    color : #eee;
    transition : all .2s ease;
}

.dragged.drop-zone{
    background : var(--main-bg-color);
    border-color: #2196f3;
}

.browseBtn{
    color : #1E81CE;
    cursor: pointer;
}

.icon-container{
    width: 75px;
    height : 100px;
    position : relative;   
}

.icon-container img{
    width: 75px;
    position : absolute;
    transform-origin: bottom;
    transition : transform .3s ease-in-out;
}

.icon-container .center{
    z-index: 2;
}

.dragged .icon-container .right{
    transform : rotate(15deg) translateX(20px) scale(.9);
}

.dragged .icon-container .left{
    transform : rotate(-15deg) translateX(-20px) scale(.9);
}

.dragged .icon-container .center{
    transform : translateY(-5px);
}

#fileInp{
    display : none;
}

.progress-container{
    width : 500px;
    height : 70px;
    border : 2px solid var(--border-color);
    margin-bottom : 25px;
    border-radius : 10px;
    position: relative;
    display: none;
}

.bg-progress{
    background : var(--main-bg-color);
    width : 0%;
    height : 100%;
    transform-origin: left;
    border-radius : 10px;
    transition: width 0.28s linear;
    position: absolute;
}

.inner-container{
    position: absolute;
    margin : 15px 15px;
    z-index: 1;
    color : #eee;
    font-size: 14px;
    opacity: .8;
    width: calc(100% - 30px);
}

.percent-container{
    margin : 4px;
}

.progress-bar{
    height: 3px;
    width : 100%;
    background : var(--border-color);
    border-radius: 3px;
    transform-origin: left;
}

.sharing-container{
    width: 500px;
    margin-bottom : 20px;
    color : #eee;
    opacity : 0.8;
    font-size : 16px;
    /*display: none;*/
}

.sharing-container .input-container{
    position: relative;
}

.sharing-container .input-container input{
    width : 100%;
    border : 2px dashed var(--border-color);
    border-radius : 5px;
    background : #1E1E30;
    color : #eee;
    padding : 10px 15px;
    box-sizing: border-box;
    font-size : 14px;
    opacity : 0.9;
}

.input-container img{
    position : absolute;
    height : 22px;
    width : 22px;
    right : 7px;
    top : 9px;
    cursor: pointer;
}

p{
    opacity: 0.7;
    text-align: center;
    font-size: 14px;
}

.email-container{
    display : flex;
    align-items: center;
}

.email-container form{
    width : 100%;
    border: 2px dashed var(--border-color);
    border-radius: 10px;
    padding : 15px;
    display : flex;
    align-items: center;
    flex-direction: column;
}

.email-container .field{
    display : flex;
    justify-content: space-between;
    width : 400px;
}

.email-container .sender{
    display : flex;
    justify-content: space-between;
    margin-bottom : 10px;
}

.field label{
    font-size : 14px;
    opacity: .9;
}

.field input{
    background : #1E1E30;
    color: #eee;
    border: none;
    border-bottom: 2px solid var(--border-color);
    text-align: center;
}

.field input:focus{
    outline: none;
}

.email-container button{
    font-size: 16px;
    padding : 8px 32px;
    margin-top : 18px;
    background : #1E81CE;
    color : #eee;
    border-radius : 5px;
    border : none;
    cursor: pointer;
}